Αρχικοποίηση

In [90]:
import matplotlib
import sys
import pandas as pd
import random
import numpy as np
from google.colab import drive

*Διάβασμα αρχείου Netflix*

In [93]:
netflix=pd.read_csv('/content/gdrive/MyDrive/DataMining/Project1/data_sample/netflix_titles.csv')
netflix.head(5)

  show_id  ...                                        description
0      s1  ...  In a future where the elite inhabit an island ...
1      s2  ...  After a devastating earthquake hits Mexico Cit...
2      s3  ...  When an army recruit is found dead, his fellow...
3      s4  ...  In a postapocalyptic world, rag-doll robots hi...
4      s5  ...  A brilliant group of students become card-coun...

[5 rows x 12 columns]

*Διάβασμα αρχείου IMDB Movies*

In [89]:
imdb_movies=pd.read_csv('/content/gdrive/MyDrive/DataMining/Project1/data_sample/imdb_movies.csv',low_memory=False)
imdb_movies.head(5)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

*Διάβασμα αρχείου IMDB Ratings*

In [91]:
imdb_ratings=pd.read_csv('/content/gdrive/MyDrive/DataMining/Project1/data_sample/imdb_movies.csv',low_memory=False)
imdb_ratings.head(5)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

**Ερώτημα 1:**
*Ποιό είδος υπερτερεί, οι ταινίες ή οι σειρές ;*

In [65]:
num_movies=netflix.loc[netflix['type']=='Movie'].count().max()
num_shows=netflix.loc[netflix['type']=='TV Show'].count().max()
if num_movies>num_shows:
    print('Υπερτερούν οι ταινίες με αριθμό:', num_movies)
else:
    print('Υπερτερούν οι σειρές με αριθμό', num_show)

Υπερτερούν οι ταινίες με αριθμό: 5377

**Ερώτημα 2:**
*Τα τελευταία χρόνια το netflix επενδύει περισσότερο σε ταινίες ή σε σειρές;*

In [57]:
print("Ερώτημα 2:")

Ερώτημα 2:

**Ερώτημα 3:**
*Ποιά χώρα έχει το περισσότερο περιεχόμενο;*

In [74]:
print("Η χώρα με το περισσότερο περιεχόμενο είναι: ", netflix['country'].value_counts().index[0])

Η χώρα με το περισσότερο περιεχόμενο είναι:  United States

**Ερώτημα 4:**
*Τι είδους περιεχόμενο έχει κάθε χώρα;*

In [75]:
# countries=set()
# for country in netflix['country']:
#     countries.add(country)
# print(countries)

countries=set()
tok=netflix['country'].astype(str).str.split(",")
print(tok)

# countries=netflix['country'].astype(str).str.split(",").tolist()
# print(countries)

# countries=netflix['country'].astype(str).tolist()
# for c in countries:
#     print(c)

1                                                [Mexico]
2                                             [Singapore]
3                                         [United States]
4                                         [United States]
5                                                [Turkey]
                              ...
7782    [Sweden,  Czech Republic,  United Kingdom,  De...
7783                                              [India]
7784                                                [nan]
7785                                          [Australia]
7786            [United Kingdom,  Canada,  United States]
Name: country, Length: 7786, dtype: object